<a href="https://colab.research.google.com/github/kikiru328/enterprise_analysis/blob/main/%EA%B0%92df_%EB%9E%AD%ED%81%AC%EB%B6%84%EB%A5%98%2BAbsNet%2B%EA%B3%A0%EA%B0%9D%ED%8A%B9%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pickle5

Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (0.0.11)

In [ ]:
import pickle5 as pickle

with open("/content/drive/MyDrive/5조/진짜멘탈터지고 최종/변동률대상_컬럼값모음_df123.pkl",'rb') as f:
  df123 = pickle.load(f)
df123

        고객번호  target  H1_가공식품_r  ...  Recency_1  Recency_2  Recency_3
0       6012       1   0.338129  ...        179        183        180
1      12446       0   0.225092  ...        180        177        176
2       1909       1   0.151442  ...        178        182        177
3       9627       1   0.383648  ...        180        180        176
4      16297       1   0.195620  ...        180        183        180
...      ...     ...        ...  ...        ...        ...        ...
19080  19355       0   0.333333  ...        178        183        178
19081  18986       0   0.214286  ...        178        174        180
19082   6868       0   0.076923  ...        162        167        169
19083  18977       0   0.541667  ...        175        182        180
19084  19360       0   0.487805  ...        177        181        179

[19085 rows x 128 columns]

In [ ]:
# 랭크가 낮을수록 감소하는 녀석들임

def grade_to(x):
    if x <= 19085*0.1:
        return 1
    elif x <= 19085*0.2:
        return 2
    elif x <= 19085*0.3:
        return 3
    elif x <= 19085*0.4:
        return 4
    elif x <= 19085*0.5:
        return 5
    elif x <= 19085*0.6:
        return 6
    elif x <= 19085*0.7:
        return 7
    elif x <= 19085*0.8:
        return 8
    elif x <= 19085*0.9:
        return 9
    else:
        return 10
    
def rank_df(df_name, columns):
    return df_name.rank()[columns].apply(grade_to)

from tqdm import tqdm

change_list = df123.columns[2:]
for i in tqdm(change_list):
    df123[i] = rank_df(df123, i)

df123

100%|██████████| 126/126 [00:25<00:00,  4.91it/s]

        고객번호  target  H1_가공식품_r  ...  Recency_1  Recency_2  Recency_3
0       6012       1          4  ...          5          8          8
1      12446       0          1  ...          8          1          2
2       1909       1          1  ...          3          5          2
3       9627       1          5  ...          8          2          2
4      16297       1          1  ...          8          8          8
...      ...     ...        ...  ...        ...        ...        ...
19080  19355       0          4  ...          3          8          3
19081  18986       0          1  ...          3          1          8
19082   6868       0          1  ...          1          1          1
19083  18977       0          8  ...          1          5          8
19084  19360       0          7  ...          2          3          5

[19085 rows x 128 columns]

In [ ]:
abs_net_df = df123
고객번호추가 = abs_net_df['고객번호']
target추가 = abs_net_df['target']
abs_net_df = abs_net_df.drop(['고객번호','target'],axis=1)

import pandas as pd
import numpy as np
changed_df = pd.DataFrame()
changed_df

group_col =[]
for i in range(int(len(abs_net_df.columns)/3)):
  group_col.append(list(abs_net_df.columns[i*3:i*3+3]))

columns = []
for cols in group_col:
  if cols[0][0]=='H':
    colname = cols[0][3:]
    columns.append(colname)
  else:
    colname = cols[0][:-2]
    columns.append(colname)

for index,cols in enumerate(group_col):
  get_cols = abs_net_df[cols]
  col1=get_cols.iloc[:,0]
  col2=get_cols.iloc[:,1]
  col3=get_cols.iloc[:,2]
  NetDiff = col3-col1
  AbsDiffsum = np.abs(col2-col1) + np.abs(col3-col2)
  changed_df[f'{columns[index]}_Net'] = NetDiff
  changed_df[f'{columns[index]}_Abs'] = AbsDiffsum

changed_df['고객번호'] = 고객번호추가
changed_df['target'] = target추가

In [ ]:
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...  Recency_Abs   고객번호  target
0          -3           3              0  ...            3   6012       1
1           0           0              0  ...            8  12446       0
2           0           0              0  ...            5   1909       1
3          -2           2             -1  ...            6   9627       1
4           0           0             -2  ...            0  16297       1

[5 rows x 86 columns]

In [ ]:
import pickle5 as pickle
with open('/content/drive/MyDrive/5조/진짜진짜최종/2차데이터123분기.pkl', 'rb') as f:
    cust = pickle.load(f)

changed_df = pd.merge(changed_df,cust[['고객번호', '성별', '연령대', '거주지역']],on='고객번호', how='left')
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...  성별      연령대    거주지역
0          -3           3              0  ...   F  40세~44세  서울 동작구
1           0           0              0  ...   F  45세~49세  서울 광진구
2           0           0              0  ...   F  50세~54세  경기 김포시
3          -2           2             -1  ...   F  30세~34세   부산 기장
4           0           0             -2  ...   F  45세~49세  서울 도봉구

[5 rows x 89 columns]

In [ ]:
import pickle5 as pickle
with open("/content/drive/MyDrive/5조/진짜진짜최종/123_최종추가_컬럼/df123_멤버십.pkl", 'rb') as f:
    membership= pickle.load(f)
membership = membership.reset_index()
changed_df = pd.merge(changed_df,membership[['고객번호','abs_13']],on='고객번호', how='left')
changed_df['abs_13'].fillna(0,inplace=True)
changed_df = changed_df.rename(columns={'abs_13':'membership_abs'})
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...      연령대    거주지역  membership_abs
0          -3           3              0  ...  40세~44세  서울 동작구             0.0
1           0           0              0  ...  45세~49세  서울 광진구             0.0
2           0           0              0  ...  50세~54세  경기 김포시             0.0
3          -2           2             -1  ...  30세~34세   부산 기장             0.0
4           0           0             -2  ...  45세~49세  서울 도봉구             0.0

[5 rows x 90 columns]

In [ ]:
changed_df = changed_df[['성별', '연령대', '거주지역', 'membership_abs', '객단가_Net', '객단가_Abs',
       '가공식품_app_r_Net', '가공식품_app_r_Abs', '가구/인테리어_app_r_Net',
       '가구/인테리어_app_r_Abs', '교육/문화용품_app_r_Net', '교육/문화용품_app_r_Abs',
       '기타_app_r_Net', '기타_app_r_Abs', '디지털/가전_app_r_Net', '디지털/가전_app_r_Abs',
       '명품_app_r_Net', '명품_app_r_Abs', '신선식품_app_r_Net', '신선식품_app_r_Abs',
       '의류_app_r_Net', '의류_app_r_Abs', '일상용품_app_r_Net', '일상용품_app_r_Abs',
       '전문스포츠/레저_app_r_Net', '전문스포츠/레저_app_r_Abs', '패션잡화_app_r_Net',
       '패션잡화_app_r_Abs', 'wdys_ratio_Net', 'wdys_ratio_Abs', 'mor_ratio_Net',
       'mor_ratio_Abs', 'A_ratio_Net', 'A_ratio_Abs', 'B_ratio_Net',
       'B_ratio_Abs', 'C_ratio_Net', 'C_ratio_Abs', 'D_ratio_Net',
       'D_ratio_Abs', 'Frequency_Net', 'Frequency_Abs', 'Recency_Net',
       'Recency_Abs', 'target']]

In [ ]:
changed_df.head()

    고객번호 성별      연령대    거주지역  ...  Frequency_Abs  Recency_Net  Recency_Abs  target
0   6012  F  40세~44세  서울 동작구  ...              6            3            3       1
1  12446  F  45세~49세  서울 광진구  ...              3           -6            8       0
2   1909  F  50세~54세  경기 김포시  ...              3           -1            5       1
3   9627  F  30세~34세   부산 기장  ...              4           -6            6       1
4  16297  F  45세~49세  서울 도봉구  ...              1            0            0       1

[5 rows x 90 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
                                                                                                                                                        
train_df = changed_df.drop('고객번호',axis = 1)

encoder = LabelEncoder()


train_df['성별'] = encoder.fit_transform(train_df['성별'])
train_df['연령대'] = encoder.fit_transform(train_df['연령대'])
train_df['거주지역']=train_df['거주지역'].fillna('불명')
train_df['거주지역'] = encoder.fit_transform(train_df['거주지역'])

In [ ]:
with open("/content/drive/MyDrive/5조/진짜멘탈터지고 최종/df_ml_123.pkl",'wb') as test_save:
  pickle.dump(train_df, test_save)

In [ ]:
import pickle5 as pickle

with open("/content/drive/MyDrive/5조/진짜멘탈터지고 최종/변동률대상_컬럼값모음_df1234.pkl",'rb') as f:
  df1234 = pickle.load(f)
df1234

        고객번호  target  H1_가공식품_r  ...  Recency_2  Recency_3  Recency_4
0       6012       1   0.338129  ...        183        180        183
1      12446       0   0.225092  ...        177        176        181
2       1909       1   0.151442  ...        182        177        175
3       9627       0   0.383648  ...        180        176        172
4      16297       1   0.195620  ...        183        180        180
...      ...     ...        ...  ...        ...        ...        ...
19080  19355       0   0.333333  ...        183        178        181
19081  18986       0   0.214286  ...        174        180        178
19082   6868       1   0.076923  ...        167        169        181
19083  18977       0   0.541667  ...        182        180        126
19084  19360       0   0.487805  ...        181        179        121

[19085 rows x 170 columns]

In [ ]:
# 랭크가 낮을수록 감소하는 녀석들임

def grade_to(x):
    if x <= 19085*0.1:
        return 1
    elif x <= 19085*0.2:
        return 2
    elif x <= 19085*0.3:
        return 3
    elif x <= 19085*0.4:
        return 4
    elif x <= 19085*0.5:
        return 5
    elif x <= 19085*0.6:
        return 6
    elif x <= 19085*0.7:
        return 7
    elif x <= 19085*0.8:
        return 8
    elif x <= 19085*0.9:
        return 9
    else:
        return 10
    
def rank_df(df_name, columns):
    return df_name.rank()[columns].apply(grade_to)

from tqdm import tqdm

change_list = df1234.columns[2:]
for i in tqdm(change_list):
    df1234[i] = rank_df(df1234, i)

df1234

100%|██████████| 168/168 [00:44<00:00,  3.76it/s]

        고객번호  target  H1_가공식품_r  ...  Recency_2  Recency_3  Recency_4
0       6012       1          4  ...          8          8          8
1      12446       0          1  ...          1          2          3
2       1909       1          1  ...          5          2          1
3       9627       0          5  ...          2          2          1
4      16297       1          1  ...          8          8          3
...      ...     ...        ...  ...        ...        ...        ...
19080  19355       0          4  ...          8          3          3
19081  18986       0          1  ...          1          8          2
19082   6868       1          1  ...          1          1          3
19083  18977       0          8  ...          5          8          1
19084  19360       0          7  ...          3          5          1

[19085 rows x 170 columns]

In [ ]:
abs_net_df = df1234
고객번호추가 = abs_net_df['고객번호']
target추가 = abs_net_df['target']
abs_net_df = abs_net_df.drop(['고객번호','target'],axis=1)

import pandas as pd
import numpy as np
changed_df = pd.DataFrame()
changed_df

group_col =[]
for i in range(int(len(abs_net_df.columns)/4)):
  group_col.append(list(abs_net_df.columns[i*4:i*4+4]))

columns = []
for cols in group_col:
  if cols[0][0]=='H':
    colname = cols[0][3:]
    columns.append(colname)
  else:
    colname = cols[0][:-2]
    columns.append(colname)

for index,cols in enumerate(group_col):
  get_cols = abs_net_df[cols]
  col1=get_cols.iloc[:,0]
  col2=get_cols.iloc[:,1]
  col3=get_cols.iloc[:,2]
  col4=get_cols.iloc[:,3]
  NetDiff = col4-col1
  AbsDiffsum = np.abs(col2-col1) + np.abs(col3-col2)+ np.abs(col4-col3)
  changed_df[f'{columns[index]}_Net'] = NetDiff
  changed_df[f'{columns[index]}_Abs'] = AbsDiffsum

changed_df['고객번호'] = 고객번호추가
changed_df['target'] = target추가

In [ ]:
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...  Recency_Abs   고객번호  target
0          -2           4              0  ...            3   6012       1
1           2           2              0  ...            9  12446       0
2           0           0              0  ...            6   1909       1
3           3           7              3  ...            7   9627       0
4           1           1              0  ...            5  16297       1

[5 rows x 86 columns]

In [ ]:
import pickle5 as pickle
with open('/content/drive/MyDrive/5조/진짜진짜최종/2차데이터123분기.pkl', 'rb') as f:
    cust = pickle.load(f)

changed_df = pd.merge(changed_df,cust[['고객번호', '성별', '연령대', '거주지역']],on='고객번호', how='left')
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...  성별      연령대    거주지역
0          -2           4              0  ...   F  40세~44세  서울 동작구
1           2           2              0  ...   F  45세~49세  서울 광진구
2           0           0              0  ...   F  50세~54세  경기 김포시
3           3           7              3  ...   F  30세~34세   부산 기장
4           1           1              0  ...   F  45세~49세  서울 도봉구

[5 rows x 89 columns]

In [ ]:
import pickle5 as pickle
with open("/content/drive/MyDrive/5조/진짜진짜최종/4_최종추가_컬럼/df1234_멤버십.pkl", 'rb') as f:
    membership= pickle.load(f)
membership = membership.reset_index()
changed_df = pd.merge(changed_df,membership[['고객번호','abs_14']],on='고객번호', how='left')
changed_df['abs_14'].fillna(0,inplace=True)
changed_df = changed_df.rename(columns={'abs_14':'membership_abs'})
changed_df.head()

   가공식품_r_Net  가공식품_r_Abs  가구/인테리어_r_Net  ...      연령대    거주지역  membership_abs
0          -2           4              0  ...  40세~44세  서울 동작구             0.0
1           2           2              0  ...  45세~49세  서울 광진구             0.0
2           0           0              0  ...  50세~54세  경기 김포시             0.0
3           3           7              3  ...  30세~34세   부산 기장             0.0
4           1           1              0  ...  45세~49세  서울 도봉구             0.0

[5 rows x 90 columns]

In [ ]:
changed_df = changed_df[['성별', '연령대', '거주지역', 'membership_abs', '객단가_Net', '객단가_Abs',
       '가공식품_app_r_Net', '가공식품_app_r_Abs', '가구/인테리어_app_r_Net',
       '가구/인테리어_app_r_Abs', '교육/문화용품_app_r_Net', '교육/문화용품_app_r_Abs',
       '기타_app_r_Net', '기타_app_r_Abs', '디지털/가전_app_r_Net', '디지털/가전_app_r_Abs',
       '명품_app_r_Net', '명품_app_r_Abs', '신선식품_app_r_Net', '신선식품_app_r_Abs',
       '의류_app_r_Net', '의류_app_r_Abs', '일상용품_app_r_Net', '일상용품_app_r_Abs',
       '전문스포츠/레저_app_r_Net', '전문스포츠/레저_app_r_Abs', '패션잡화_app_r_Net',
       '패션잡화_app_r_Abs', 'wdys_ratio_Net', 'wdys_ratio_Abs', 'mor_ratio_Net',
       'mor_ratio_Abs', 'A_ratio_Net', 'A_ratio_Abs', 'B_ratio_Net',
       'B_ratio_Abs', 'C_ratio_Net', 'C_ratio_Abs', 'D_ratio_Net',
       'D_ratio_Abs', 'Frequency_Net', 'Frequency_Abs', 'Recency_Net',
       'Recency_Abs', 'target']]

In [ ]:
changed_df.head()

    고객번호 성별      연령대    거주지역  ...  Frequency_Abs  Recency_Net  Recency_Abs  target
0   6012  F  40세~44세  서울 동작구  ...              8            3            3       1
1  12446  F  45세~49세  서울 광진구  ...              5           -5            9       0
2   1909  F  50세~54세  경기 김포시  ...              5           -2            6       1
3   9627  F  30세~34세   부산 기장  ...              6           -7            7       0
4  16297  F  45세~49세  서울 도봉구  ...              3           -5            5       1

[5 rows x 90 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
                                                                                                                                                        
train_df = changed_df.drop('고객번호',axis = 1)

encoder = LabelEncoder()


train_df['성별'] = encoder.fit_transform(train_df['성별'])
train_df['연령대'] = encoder.fit_transform(train_df['연령대'])
train_df['거주지역']=train_df['거주지역'].fillna('불명')
train_df['거주지역'] = encoder.fit_transform(train_df['거주지역'])

In [ ]:
with open("/content/drive/MyDrive/5조/진짜멘탈터지고 최종/df_ml_1234.pkl",'wb') as test_save:
  pickle.dump(train_df, test_save)