#### Introduction  
>시간 분리 오전 오후

In [ ]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

Mounted at /content/drive

In [ ]:
# 한글폰트
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (8,434 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155013 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
%pwd
%cd '../content/notebooks'

# module import
## Data Load
from pickle5 import pickle 

## Basic module
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

/content/drive/My Drive/Colab Notebooks

In [ ]:
# # pickle data load
# # load
# with open('dir/file.pkl', 'rb') as file:
#   df = pickle.load(file)
# # save
# with open('dir/파일명.pkl', 'wb') as file:
#   pickle.dump(저장할데이터변수, file)

In [ ]:
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/사용해야되는 기준 pkl 파일들/dt변환년도포함구매.pkl','rb') as file:
  time = pickle.load(file)

In [ ]:
def apm(x):
  if x < 12:
    x = '오전'
  elif x >= 12:
    x = '오후'
  return x

In [ ]:
time['오전오후'] = time['구매시간'].apply(apm)
# time['오후'] = time['구매시간'].apply(pm)

In [ ]:
dum = pd.get_dummies(time['오전오후'])

In [ ]:
time= pd.concat([time,dum],axis=1)

In [ ]:
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/사용해야되는 기준 pkl 파일들/DT_구매_APM.pkl','wb') as file:
  pickle.dump(time,file)

In [ ]:
def am(x):
  if x == '오전':
    x = 1
  else:
    x = 0
  return x

def pm(x):
  if x == '오후':
    x = 1 
  else:
    x = 0 
  return x

In [ ]:
time['오전'] = time['오전오후'].apply(am)
time['오후'] = time['오전오후'].apply(pm)

In [ ]:
time[time['오전']==1]

         제휴사    영수증번호   고객번호  점포코드       구매일자  ...    소분류명  구매년도  오전오후  오전  오후
91         A  1254650   8036    31 2014-01-20  ...     유제품  2014    오전   1   0
92         A  1254651   9381    31 2014-01-20  ...       햄  2014    오전   1   0
93         A  1254651   9381    31 2014-01-20  ...  일반가공식품  2014    오전   1   0
94         A  1254651   9381    31 2014-01-20  ...    수입식품  2014    오전   1   0
163        A  1294606     53     1 2014-01-28  ...      가방  2014    오전   1   0
...       ..      ...    ...   ...        ...  ...     ...   ...   ...  ..  ..
28592964   D   253804  15835    40 2015-10-09  ...    과일음료  2015    오전   1   0
28592965   D   253804  15835    40 2015-10-09  ...    커피음료  2015    오전   1   0
28593009   D   253830  15835    40 2015-10-22  ...    과일음료  2015    오전   1   0
28593021   D   253836  16992    40 2015-10-24  ...    과일음료  2015    오전   1   0
28593022   D   253837  16992    40 2015-10-24  ...     일반껌  2015    오전   1   0

[2257766 rows x 18 columns]