<a href="https://colab.research.google.com/github/kikiru328/enterprise_analysis/blob/main/B_clf_amt_ratio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Introduction  
>대분류별 구매액 비율

In [1]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

# 한글폰트
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
## 돌리고 런타임 재시작
## 드라이브 마운트, 한글폰트설치코드 제외 셀 실행

Mounted at /content/drive
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 3s (3,059 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [3]:
#  Directory 변경 (모듈이용)
%pwd
%cd '../content/notebooks'

# module import
## Data Load
from pickle5 import pickle 

## Basic module
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

#waring
import warnings
warnings.filterwarnings('ignore')

/content/drive/My Drive/Colab Notebooks

In [4]:
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/EDA/pr_1','rb') as f1:
  pr_1 = pickle.load(f1)
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/EDA/pr_2','rb') as f2:
  pr_2 = pickle.load(f2)
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/EDA/pr_3','rb') as f3:
  pr_3 = pickle.load(f3)
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/data/EDA/pr_4','rb') as f4:
  pr_4 = pickle.load(f4)

In [5]:
def setidx(df):
  df = df.reset_index()
  df = df.rename(columns={'index':'고객번호'})
  df = df.set_index('고객번호')
  return df

df_1 = setidx(pr_1)
df_2 = setidx(pr_2)
df_3 = setidx(pr_3)
df_4 = setidx(pr_4)

In [6]:
df_1

        가공식품  가구/인테리어  교육/문화용품  ...  전문스포츠/레저_구매금액  패션잡화_구매금액     총구매금액
고객번호                            ...
1       66.0      9.0      0.0  ...        2143200    1716860  19925355
2       48.0     31.0      0.0  ...        3949760     903320  24323230
3      237.0      0.0      0.0  ...              0          0    851215
4       90.0      7.0      0.0  ...         402100     771770   5042106
5      121.0     28.0      0.0  ...          63080     218570   5460150
...      ...      ...      ...  ...            ...        ...       ...
19356   29.0      0.0      0.0  ...              0          0    170160
19357    7.0      0.0      0.0  ...              0          0     91950
19359   11.0      0.0      0.0  ...              0          0     43190
19360   20.0      0.0      0.0  ...              0          0    368050
19364    9.0      0.0      0.0  ...         336900          0   2032420

[19085 rows x 23 columns]

In [7]:
sorting_cols = pr_1.columns.to_list()
sorting_cols = ['가공식품_구매금액',
 '가구/인테리어_구매금액',
 '교육/문화용품_구매금액',
 '기타_구매금액',
 '디지털/가전_구매금액',
 '명품_구매금액',
 '신선식품_구매금액',
 '의류_구매금액',
 '일상용품_구매금액',
 '전문스포츠/레저_구매금액',
 '패션잡화_구매금액',
 '총구매금액']

In [8]:
def_cols = ['가공식품_구매금액','가구/인테리어_구매금액',
 '교육/문화용품_구매금액',
 '기타_구매금액',
 '디지털/가전_구매금액',
 '명품_구매금액',
 '신선식품_구매금액',
 '의류_구매금액',
 '일상용품_구매금액',
 '전문스포츠/레저_구매금액',
 '패션잡화_구매금액']

In [9]:
sum_cols = ['가공식품_구매금액_r', '가구/인테리어_구매금액_r', '교육/문화용품_구매금액_r',
       '기타_구매금액_r', '디지털/가전_구매금액_r', '명품_구매금액_r', '신선식품_구매금액_r', '의류_구매금액_r',
       '일상용품_구매금액_r', '전문스포츠/레저_구매금액_r', '패션잡화_구매금액_r']

In [10]:
confirm_cols = ['가공식품_구매금액_r', '가구/인테리어_구매금액_r', '교육/문화용품_구매금액_r',
       '기타_구매금액_r', '디지털/가전_구매금액_r', '명품_구매금액_r', '신선식품_구매금액_r', '의류_구매금액_r',
       '일상용품_구매금액_r', '전문스포츠/레저_구매금액_r', '패션잡화_구매금액_r', 'total']

In [11]:
p1 = df_1[sorting_cols]
p2 = df_2[sorting_cols]
p3 = df_3[sorting_cols]
p4 = df_4[sorting_cols]

In [12]:
p1

       가공식품_구매금액  가구/인테리어_구매금액  ...  패션잡화_구매금액     총구매금액
고객번호                            ...
1        3550030        696520  ...    1716860  19925355
2        1485380       1735160  ...     903320  24323230
3         530250             0  ...          0    851215
4         810700        125760  ...     771770   5042106
5        1325670        415330  ...     218570   5460150
...          ...           ...  ...        ...       ...
19356      87670             0  ...          0    170160
19357      29650             0  ...          0     91950
19359      12300             0  ...          0     43190
19360      83750             0  ...          0    368050
19364      58600             0  ...          0   2032420

[19085 rows x 12 columns]

In [13]:
def ratio(df):
  global sorting_cols, def_cols, sum_cols, confirm_cols
  s_df = df[sorting_cols]
  for i in def_cols:
    s_df[f'{i}_r'] = s_df[i] / s_df['총구매금액']
  s_df['total'] = s_df[sum_cols].sum(axis=1)
  s_df = s_df[confirm_cols]
  return s_df

In [14]:
H1_r = ratio(p1)
H2_r = ratio(p2)
H3_r = ratio(p3)
H4_r = ratio(p4)

In [15]:
H1_r

       가공식품_구매금액_r  가구/인테리어_구매금액_r  ...  패션잡화_구매금액_r  total
고객번호                                ...
1         0.178166        0.034956  ...     0.086165    1.0
2         0.061068        0.071338  ...     0.037138    1.0
3         0.622933        0.000000  ...     0.000000    1.0
4         0.160786        0.024942  ...     0.153065    1.0
5         0.242790        0.076066  ...     0.040030    1.0
...            ...             ...  ...          ...    ...
19356     0.515221        0.000000  ...     0.000000    1.0
19357     0.322458        0.000000  ...     0.000000    1.0
19359     0.284788        0.000000  ...     0.000000    1.0
19360     0.227551        0.000000  ...     0.000000    1.0
19364     0.028833        0.000000  ...     0.000000    1.0

[19085 rows x 12 columns]

In [16]:
def reName(a,df):
  cols = list(df.columns)
  for i in cols:
    df[f'{i}_{a}'] = df[i]
  A = df.drop(cols,axis=1)
  return A

In [17]:
H1 = reName(1,H1_r)
H2 = reName(2,H2_r)
H3 = reName(3,H3_r)
H4 = reName(4,H4_r)

In [18]:
def new_train_df(a,b):
    A = pd.concat([a,b],axis=1)
    return A
train = new_train_df(H1,H2)

In [20]:
trainlist = [1,2]
c_li = list(H1_r.columns)


trainList = []
for col in c_li:
  for h in trainlist:
    trainList.append(f'{col}_{h}')
trainList=['가공식품_구매금액_r_1',
 '가공식품_구매금액_r_2',
 '가구/인테리어_구매금액_r_1',
 '가구/인테리어_구매금액_r_2',
 '교육/문화용품_구매금액_r_1',
 '교육/문화용품_구매금액_r_2',
 '기타_구매금액_r_1',
 '기타_구매금액_r_2',
 '디지털/가전_구매금액_r_1',
 '디지털/가전_구매금액_r_2',
 '명품_구매금액_r_1',
 '명품_구매금액_r_2',
 '신선식품_구매금액_r_1',
 '신선식품_구매금액_r_2',
 '의류_구매금액_r_1',
 '의류_구매금액_r_2',
 '일상용품_구매금액_r_1',
 '일상용품_구매금액_r_2',
 '전문스포츠/레저_구매금액_r_1',
 '전문스포츠/레저_구매금액_r_2',
 '패션잡화_구매금액_r_1',
 '패션잡화_구매금액_r_2']
train = train[trainList]

In [21]:
# train = train.drop(['H1_total','H2_total','H3_total'],axis=1)
train

       가공식품_구매금액_r_1  가공식품_구매금액_r_2  ...  패션잡화_구매금액_r_1  패션잡화_구매금액_r_2
고객번호                                 ...
1           0.178166       0.048131  ...       0.086165       0.047912
2           0.061068       0.055223  ...       0.037138       0.028167
3           0.622933       0.548384  ...       0.000000       0.000000
4           0.160786       0.121463  ...       0.153065       0.056676
5           0.242790       0.312706  ...       0.040030       0.031001
...              ...            ...  ...            ...            ...
19356       0.515221       0.538920  ...       0.000000       0.000000
19357       0.322458       0.431969  ...       0.000000       0.028007
19359       0.284788       0.615100  ...       0.000000       0.000000
19360       0.227551       0.204647  ...       0.000000       0.000000
19364       0.028833       0.032158  ...       0.000000       0.078077

[19085 rows x 22 columns]

In [22]:
train = train.reset_index()
train

        고객번호  가공식품_구매금액_r_1  ...  패션잡화_구매금액_r_1  패션잡화_구매금액_r_2
0          1       0.178166  ...       0.086165       0.047912
1          2       0.061068  ...       0.037138       0.028167
2          3       0.622933  ...       0.000000       0.000000
3          4       0.160786  ...       0.153065       0.056676
4          5       0.242790  ...       0.040030       0.031001
...      ...            ...  ...            ...            ...
19080  19356       0.515221  ...       0.000000       0.000000
19081  19357       0.322458  ...       0.000000       0.028007
19082  19359       0.284788  ...       0.000000       0.000000
19083  19360       0.227551  ...       0.000000       0.000000
19084  19364       0.028833  ...       0.000000       0.078077

[19085 rows x 23 columns]

In [29]:
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/1012발표도못하고수정/10월14일이후 새로추가/train/B_clf_amt_ratio.pkl','wb') as train_save:
  pickle.dump(train,train_save)

In [24]:
def new_test_df(a,b,c):
    A = pd.concat([a,b],axis=1)
    train = pd.concat([A,c],axis=1)    
    return train

test = new_test_df(H1,H2,H3)

In [25]:
test

       가공식품_구매금액_r_1  가구/인테리어_구매금액_r_1  ...  패션잡화_구매금액_r_3  total_3
고객번호                                    ...
1           0.178166          0.034956  ...       0.056254      1.0
2           0.061068          0.071338  ...       0.027194      1.0
3           0.622933          0.000000  ...       0.000000      1.0
4           0.160786          0.024942  ...       0.020946      1.0
5           0.242790          0.076066  ...       0.000000      1.0
...              ...               ...  ...            ...      ...
19356       0.515221          0.000000  ...       0.000000      1.0
19357       0.322458          0.000000  ...       0.124206      1.0
19359       0.284788          0.000000  ...       0.000000      1.0
19360       0.227551          0.000000  ...       0.066566      1.0
19364       0.028833          0.000000  ...       0.043193      1.0

[19085 rows x 36 columns]

In [27]:
testlist = [1,2,3]
c_li = list(H1_r.columns)

testList = []
for col in c_li:
  for h in testlist:
    testList.append(f'{col}_{h}')
testList = ['가공식품_구매금액_r_1',
 '가공식품_구매금액_r_2',
 '가공식품_구매금액_r_3',
 '가구/인테리어_구매금액_r_1',
 '가구/인테리어_구매금액_r_2',
 '가구/인테리어_구매금액_r_3',
 '교육/문화용품_구매금액_r_1',
 '교육/문화용품_구매금액_r_2',
 '교육/문화용품_구매금액_r_3',
 '기타_구매금액_r_1',
 '기타_구매금액_r_2',
 '기타_구매금액_r_3',
 '디지털/가전_구매금액_r_1',
 '디지털/가전_구매금액_r_2',
 '디지털/가전_구매금액_r_3',
 '명품_구매금액_r_1',
 '명품_구매금액_r_2',
 '명품_구매금액_r_3',
 '신선식품_구매금액_r_1',
 '신선식품_구매금액_r_2',
 '신선식품_구매금액_r_3',
 '의류_구매금액_r_1',
 '의류_구매금액_r_2',
 '의류_구매금액_r_3',
 '일상용품_구매금액_r_1',
 '일상용품_구매금액_r_2',
 '일상용품_구매금액_r_3',
 '전문스포츠/레저_구매금액_r_1',
 '전문스포츠/레저_구매금액_r_2',
 '전문스포츠/레저_구매금액_r_3',
 '패션잡화_구매금액_r_1',
 '패션잡화_구매금액_r_2',
 '패션잡화_구매금액_r_3']

In [28]:
test = test[testList]
test = test.reset_index()
test

        고객번호  가공식품_구매금액_r_1  ...  패션잡화_구매금액_r_2  패션잡화_구매금액_r_3
0          1       0.178166  ...       0.047912       0.056254
1          2       0.061068  ...       0.028167       0.027194
2          3       0.622933  ...       0.000000       0.000000
3          4       0.160786  ...       0.056676       0.020946
4          5       0.242790  ...       0.031001       0.000000
...      ...            ...  ...            ...            ...
19080  19356       0.515221  ...       0.000000       0.000000
19081  19357       0.322458  ...       0.028007       0.124206
19082  19359       0.284788  ...       0.000000       0.000000
19083  19360       0.227551  ...       0.000000       0.066566
19084  19364       0.028833  ...       0.078077       0.043193

[19085 rows x 34 columns]

In [30]:
with open('/content/drive/MyDrive/공유문서/1차 프로젝트/5조/1012발표도못하고수정/10월14일이후 새로추가/test/B_clf_amt_ratio.pkl','wb') as test_save:
  pickle.dump(test,test_save)