<a href="https://colab.research.google.com/github/kikiru328/enterprise_analysis/blob/main/%EC%A0%9C%ED%9C%B4%EC%82%AC%EB%B3%84_%EA%B5%AC%EB%A7%A4%EA%B8%88%EC%95%A1_%EB%B9%84%EC%A4%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Introduction  
>제휴사 별 금액 비중 확인

In [ ]:
# colab drive mount

import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

Mounted at /content/drive

In [ ]:
!pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 7.2 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219295 sha256=0baa36f75dec93f30a1e73e415d0ae2a52d931b082f1b81e602b1da1172d7960
  Stored in directory: /root/.cache/pip/wheels/7e/6a/00/67136a90d6aca437d806d1d3cedf98106e840c97a3e5188198
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
%pwd
%cd '../content/notebooks'
# module import
## Data Load
from pickle5 import pickle 

## Basic module
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

# pickle data load
# load

/content/drive/My Drive/Colab Notebooks

In [ ]:
with open('/content/drive/MyDrive/cakd3/1차 프로젝트/5조/data/EDA/Time_구매.pkl', 'rb') as file:
  df = pickle.load(file)

In [ ]:
df

         제휴사    영수증번호   고객번호  점포코드       구매일자  ...  구매년도  오전  오후  평일  휴일
0          A  2757986  15148    10 2014-09-20  ...  2014   0   1   0   1
1          A  2757986  15148    10 2014-09-20  ...  2014   0   1   0   1
2          A  2757987    400    10 2014-09-20  ...  2014   0   1   0   1
3          A  2757987    400    10 2014-09-20  ...  2014   0   1   0   1
4          A  2757988   2043    10 2014-09-20  ...  2014   0   1   0   1
...       ..      ...    ...   ...        ...  ...   ...  ..  ..  ..  ..
28593025   D   253839  15835    40 2015-10-26  ...  2015   0   1   1   0
28593026   D   253839  15835    40 2015-10-26  ...  2015   0   1   1   0
28593027   D   253840   2070    40 2015-10-26  ...  2015   0   1   1   0
28593028   D   253841  15835    40 2015-10-26  ...  2015   0   1   1   0
28593029   D   257795  13918    43 2015-12-02  ...  2015   0   1   1   0

[28593030 rows x 19 columns]

In [ ]:
m1 = df[(df['구매년도']==2014)&(df['구매월']==1)]
m2 = df[(df['구매년도']==2014)&(df['구매월']==2)]
m3 = df[(df['구매년도']==2014)&(df['구매월']==3)]
m4 = df[(df['구매년도']==2014)&(df['구매월']==4)]
m5 = df[(df['구매년도']==2014)&(df['구매월']==5)]
m6 = df[(df['구매년도']==2014)&(df['구매월']==6)]
m7 = df[(df['구매년도']==2014)&(df['구매월']==7)]
m8 = df[(df['구매년도']==2014)&(df['구매월']==8)]
m9 = df[(df['구매년도']==2014)&(df['구매월']==9)]
m10 = df[(df['구매년도']==2014)&(df['구매월']==10)]
m11= df[(df['구매년도']==2014)&(df['구매월']==11)]
m12= df[(df['구매년도']==2014)&(df['구매월']==12)]

m13 = df[(df['구매년도']==2015)&(df['구매월']==13)]
m14 = df[(df['구매년도']==2015)&(df['구매월']==14)]
m15= df[(df['구매년도']==2015)&(df['구매월']==15)]
m16 = df[(df['구매년도']==2015)&(df['구매월']==16)]
m17 = df[(df['구매년도']==2015)&(df['구매월']==17)]
m18 = df[(df['구매년도']==2015)&(df['구매월']==18)]
m19 = df[(df['구매년도']==2015)&(df['구매월']==19)]
m20 = df[(df['구매년도']==2015)&(df['구매월']==20)]
m21 = df[(df['구매년도']==2015)&(df['구매월']==21)]
m22 = df[(df['구매년도']==2015)&(df['구매월']==22)]
m23 = df[(df['구매년도']==2015)&(df['구매월']==23)]
m24 = df[(df['구매년도']==2015)&(df['구매월']==24)]

In [ ]:
def rename(df,i):
  m= df.groupby(['고객번호','제휴사']).sum('구매금액')
  pivot_m= pd.pivot_table(m, index = ['고객번호'],columns = '제휴사', values = '구매금액')
  pivot_m= pivot_m.reset_index(drop=False).rename_axis(None, axis=1)
  pivot_m= pivot_m.rename(columns={'A':f'A_{i}', 'B':f'B_{i}', 'C':f'C_{i}', 'D':f'D_{i}'})
  pivot_m = pivot_m.fillna(0)
  pivot_m['total'] = pivot_m[[f'A_{i}',f'B_{i}',f'C_{i}',f'D_{i}']].sum(axis=1)
  pivot_m[f'A_amt_r_{i}'] = pivot_m[f'A_{i}'] / pivot_m['total']
  pivot_m[f'B_amt_r_{i}'] = pivot_m[f'B_{i}'] / pivot_m['total']
  pivot_m[f'C_amt_r_{i}'] = pivot_m[f'C_{i}'] / pivot_m['total']
  pivot_m[f'D_amt_r_{i}'] = pivot_m[f'D_{i}'] / pivot_m['total']
  pivot_m = pivot_m.drop([f'A_{i}',f'B_{i}',f'C_{i}',f'D_{i}','total'],axis=1)
  return pivot_m

In [ ]:
m1n = rename(m1,1)
m2n = rename(m2,2)
m3n = rename(m3,3)
m4n = rename(m4,4)
m5n = rename(m5,5)
m6n = rename(m6,6)
m7n = rename(m7,7)
m8n = rename(m8,8)
m9n = rename(m9,9)
m10n = rename(m10,10)
m11n = rename(m11,11)
m12n = rename(m12,12)
m13n = rename(m13,13)
m14n = rename(m14,14)
m15n = rename(m15,15)
m16n = rename(m16,16)
m17n = rename(m17,17)
m18n = rename(m18,18)
m19n = rename(m19,19)
m20n = rename(m20,20)
m21n = rename(m21,21)
m22n = rename(m22,22)
m23n = rename(m23,23)
m24n = rename(m24,24)

In [ ]:
제휴사 = pd.merge(m1n,m2n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m3n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m4n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m5n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m6n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m7n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m8n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m9n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m10n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m11n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m12n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m13n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m14n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m15n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m16n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m17n,on=['고객번호'],how='left')
제휴사 = pd.merge(제휴사,m18n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m19n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m20n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m21n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m22n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m23n,on=['고객번호'],how='left')
# 제휴사 = pd.merge(제휴사,m24n,on=['고객번호'],how='left')

제휴사

        고객번호  A_amt_r_1  B_amt_r_1  ...  B_amt_r_18  C_amt_r_18  D_amt_r_18
0          1   1.000000        0.0  ...    0.007572    0.038918     0.00000
1          2   1.000000        0.0  ...    0.000000    0.000000     0.06501
2          3   0.000000        0.0  ...    0.000000    1.000000     0.00000
3          4   0.899443        0.0  ...    0.249630    0.086896     0.00000
4          5   1.000000        0.0  ...         NaN         NaN         NaN
...      ...        ...        ...  ...         ...         ...         ...
18736  19319   1.000000        0.0  ...    0.000000    0.000000     0.00000
18737  19320   0.000000        1.0  ...    1.000000    0.000000     0.00000
18738  19322   0.000000        1.0  ...    0.336067    0.000000     0.00000
18739  19323   0.000000        0.0  ...         NaN         NaN         NaN
18740  19325   1.000000        0.0  ...    0.174280    0.000000     0.00000

[18741 rows x 73 columns]

In [ ]:
제휴사 = 제휴사.fillna(0)
제휴사

        고객번호  A_amt_r_1  B_amt_r_1  ...  B_amt_r_18  C_amt_r_18  D_amt_r_18
0          1   1.000000        0.0  ...    0.007572    0.038918     0.00000
1          2   1.000000        0.0  ...    0.000000    0.000000     0.06501
2          3   0.000000        0.0  ...    0.000000    1.000000     0.00000
3          4   0.899443        0.0  ...    0.249630    0.086896     0.00000
4          5   1.000000        0.0  ...    0.000000    0.000000     0.00000
...      ...        ...        ...  ...         ...         ...         ...
18736  19319   1.000000        0.0  ...    0.000000    0.000000     0.00000
18737  19320   0.000000        1.0  ...    1.000000    0.000000     0.00000
18738  19322   0.000000        1.0  ...    0.336067    0.000000     0.00000
18739  19323   0.000000        0.0  ...    0.000000    0.000000     0.00000
18740  19325   1.000000        0.0  ...    0.174280    0.000000     0.00000

[18741 rows x 73 columns]

In [ ]:
col_standard= ['A_amt_r','B_amt_r','C_amt_r','D_amt_r']

In [ ]:
trainlist =list(range(1,19))


trainList = ['고객번호']
for col in col_standard:
  for h in trainlist:
    trainList.append(f'{col}_{h}')
trainList

['고객번호',
 'A_amt_r_1',
 'A_amt_r_2',
 'A_amt_r_3',
 'A_amt_r_4',
 'A_amt_r_5',
 'A_amt_r_6',
 'A_amt_r_7',
 'A_amt_r_8',
 'A_amt_r_9',
 'A_amt_r_10',
 'A_amt_r_11',
 'A_amt_r_12',
 'A_amt_r_13',
 'A_amt_r_14',
 'A_amt_r_15',
 'A_amt_r_16',
 'A_amt_r_17',
 'A_amt_r_18',
 'B_amt_r_1',
 'B_amt_r_2',
 'B_amt_r_3',
 'B_amt_r_4',
 'B_amt_r_5',
 'B_amt_r_6',
 'B_amt_r_7',
 'B_amt_r_8',
 'B_amt_r_9',
 'B_amt_r_10',
 'B_amt_r_11',
 'B_amt_r_12',
 'B_amt_r_13',
 'B_amt_r_14',
 'B_amt_r_15',
 'B_amt_r_16',
 'B_amt_r_17',
 'B_amt_r_18',
 'C_amt_r_1',
 'C_amt_r_2',
 'C_amt_r_3',
 'C_amt_r_4',
 'C_amt_r_5',
 'C_amt_r_6',
 'C_amt_r_7',
 'C_amt_r_8',
 'C_amt_r_9',
 'C_amt_r_10',
 'C_amt_r_11',
 'C_amt_r_12',
 'C_amt_r_13',
 'C_amt_r_14',
 'C_amt_r_15',
 'C_amt_r_16',
 'C_amt_r_17',
 'C_amt_r_18',
 'D_amt_r_1',
 'D_amt_r_2',
 'D_amt_r_3',
 'D_amt_r_4',
 'D_amt_r_5',
 'D_amt_r_6',
 'D_amt_r_7',
 'D_amt_r_8',
 'D_amt_r_9',
 'D_amt_r_10',
 'D_amt_r_11',
 'D_amt_r_12',
 'D_amt_r_13',
 'D_amt_r_14',
 'D_amt_r_15',
 'D_amt_r_16',
 'D_amt_r_17',
 'D_amt_r_18']

In [ ]:
제휴사= 제휴사[trainList]
제휴사

        고객번호  A_amt_r_1  A_amt_r_2  ...  D_amt_r_16  D_amt_r_17  D_amt_r_18
0          1   1.000000   0.993764  ...    0.000000    0.000000     0.00000
1          2   1.000000   1.000000  ...    0.000000    0.021454     0.06501
2          3   0.000000   0.000000  ...    0.000000    0.000000     0.00000
3          4   0.899443   0.952143  ...    0.000000    0.000000     0.00000
4          5   1.000000   0.974995  ...    0.015838    0.000000     0.00000
...      ...        ...        ...  ...         ...         ...         ...
18736  19319   1.000000   1.000000  ...    0.000000    0.000000     0.00000
18737  19320   0.000000   0.000000  ...    0.000000    0.000000     0.00000
18738  19322   0.000000   0.000000  ...    0.000000    0.000000     0.00000
18739  19323   0.000000   0.000000  ...    0.000000    0.000000     0.00000
18740  19325   1.000000   1.000000  ...    0.000000    0.000000     0.00000

[18741 rows x 73 columns]

In [ ]:

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/1012발표도못하고수정/월별/test/제휴사test.pkl', 'wb') as f:
    pickle.dump( 제휴사, f)

In [ ]:
a1= rename(df1,1)
a2= rename(df2,2)
a3= rename(df3,3)
a4= rename(df4,4)

In [ ]:
hello = pd.merge(a1,a2,on=['고객번호'],how='left')
# hello = pd.merge(hello,a3,on=['고객번호'],how='left')
# hello = pd.merge(hello,a4,on=['고객번호'],how='left')

hello

        고객번호  A_amt_r_1  B_amt_r_1  ...  B_amt_r_2  C_amt_r_2  D_amt_r_2
0          1   0.988851   0.001094  ...   0.011025   0.011721   0.000000
1          2   0.998746   0.001254  ...   0.002119   0.000000   0.000000
2          3   0.093983   0.000000  ...   0.006676   0.993324   0.000000
3          4   0.917922   0.015878  ...   0.098823   0.029419   0.000000
4          5   0.997070   0.002930  ...   0.000000   0.000000   0.000000
...      ...        ...        ...  ...        ...        ...        ...
19205  19356   0.000000   0.000000  ...   0.011197   0.969924   0.000000
19206  19357   0.573138   0.426862  ...   0.677614   0.001710   0.000000
19207  19359   0.000000   0.000000  ...   0.000000   1.000000   0.000000
19208  19360   0.000000   0.000000  ...   0.028451   0.000000   0.966549
19209  19364   0.165763   0.000000  ...   0.018937   0.026954   0.544418

[19210 rows x 9 columns]

In [ ]:
col_standard= ['A_amt_r','B_amt_r','C_amt_r','D_amt_r']

In [ ]:
trainlist =list(range(1,3))


trainList = ['고객번호']
for col in col_standard:
  for h in trainlist:
    trainList.append(f'{col}_{h}')
trainList

['고객번호',
 'A_amt_r_1',
 'A_amt_r_2',
 'B_amt_r_1',
 'B_amt_r_2',
 'C_amt_r_1',
 'C_amt_r_2',
 'D_amt_r_1',
 'D_amt_r_2']

In [ ]:
hello = hello[trainList]
hello

        고객번호  A_amt_r_1  A_amt_r_2  ...  C_amt_r_2  D_amt_r_1  D_amt_r_2
0          1   0.988851   0.977254  ...   0.011721   0.000000   0.000000
1          2   0.998746   0.997881  ...   0.000000   0.000000   0.000000
2          3   0.093983   0.000000  ...   0.993324   0.000000   0.000000
3          4   0.917922   0.871758  ...   0.029419   0.000000   0.000000
4          5   0.997070   1.000000  ...   0.000000   0.000000   0.000000
...      ...        ...        ...  ...        ...        ...        ...
19205  19356   0.000000   0.018879  ...   0.969924   0.000000   0.000000
19206  19357   0.573138   0.320676  ...   0.001710   0.000000   0.000000
19207  19359   0.000000   0.000000  ...   1.000000   0.000000   0.000000
19208  19360   0.000000   0.005000  ...   0.000000   1.000000   0.966549
19209  19364   0.165763   0.409691  ...   0.026954   0.834237   0.544418

[19210 rows x 9 columns]

In [ ]:
# with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/1012발표도못하고수정/10월14일이후 새로추가/test/제휴사_구매금액비중_반기별_test.pkl', 'wb') as f:
#     pickle.dump( hello, f)

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/1012발표도못하고수정/10월14일이후 새로추가/train/제휴사_구매금액비중_반기별_train.pkl', 'wb') as f:
    pickle.dump( hello, f)

In [ ]:
with open('/content/drive/MyDrive/cakd3/1차 프로젝트/5조/승혜전용/df1_평일오전.pkl', 'rb') as file:
  df_평일오전1 = pickle.load(file)

In [ ]:

df_평일오전1= df_평일오전1[['고객번호','wdys_ratio','mor_ratio']]
df_평일오전1= df_평일오전1.rename({'wdys_ratio':'wdys_ratio_1','mor_ratio':'mor_ratio_1'},axis=1)
df_평일오전1.head()

   고객번호  wdys_ratio_1  mor_ratio_1
0     1          0.77         0.11
1     2          0.64         0.05
2     3          0.81         0.23
3     4          0.71         0.07
4     5          0.67         0.02

In [ ]:
# with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/1012발표도못하고수정/월별/test/오전test.pkl', 'wb') as f:
#     pickle.dump( df_평일오전1, f)

In [ ]:
with open('/content/drive/MyDrive/cakd3/1차 프로젝트/5조/data/EDA/Time_구매.pkl', 'rb') as file:
  df = pickle.load(file)