#### Introduction  
>기업 매출 데이터에 따르면, 제휴사별 같은 상품의 분류가 동일하지 않아 분석에 용이하지 않다.</br>따라서 동일한 대분류를 기준으로 상품을 재분류하였다.

#### 대분류 수정 필요

In [154]:
# 수정이 필요한 대분류 코드

   제휴사 기준대분류코드                           수정필요대분류코드
0    A       1                                 [1]
1    A       2                                 [2]
2    A       3                                 [3]
3    A       4                                 [4]
4    A       5                                 [5]
5    A       6                                 [6]
6    A       7                                 [7]
7    A       8                                 [8]
8    A       9                                 [9]
9    B      10              [1, 5, 38, 55, 72, 91]
10   B      11                  [2, 3, 59, 60, 63]
11   B      12                                 [4]
12   B      13  [79, 80, 81, 6, 7, 54, 76, 77, 78]
13   B      14                                 [8]
14   B      15     [9, 43, 56, 57, 58, 62, 61, 73]
15   B      16                    [10, 12, 74, 89]
16   B      17                                [11]
17   B      18                                [13]
18   B      19                            [14, 67]
19   B      20                                [15]
20   B      21                                [16]
21   B      22                [17, 20, 21, 84, 86]
22   B      23                        [18, 19, 66]
23   B      24                        [22, 23, 88]
24   B      25                            [24, 87]
25   B      26                        [26, 31, 32]
26   B      27                                [27]
27   B      28                                [28]
28   B      29                            [29, 49]
29   B      30                            [30, 50]
30   B      31                            [33, 68]
31   B      32                            [34, 90]
32   B      33                    [35, 36, 51, 71]
33   B      34                                [37]
34   B      35                [39, 40, 41, 42, 85]
35   B      36                    [44, 45, 69, 70]
36   B      37                [46, 47, 48, 82, 83]
37   B      38                [52, 53, 64, 65, 92]
38   B      39                                [75]
39   C      40                                 [1]
40   C      41                              [2, 3]
41   C      42                                 [4]
42   C      43                                 [5]
43   C      44                                 [6]
44   C      45                                 [7]
45   C      46                          [8, 9, 10]
46   C      47                                [11]
47   C      48                                [12]
48   C      49                                [13]
49   C      50                                [14]
50   C      51                                [15]
51   C      52                            [16, 17]
52   D      53                                 [1]
53   D      54                                 [2]
54   D      55                                 [3]
55   D      56                                 [4]
56   D      57                              [5, 6]
57   D      58                                 [7]
58   D      59                                 [8]

#### prodcat 재설정 후 대분류코드 수정

In [4]:
import pandas as pd
prodcat = pd.read_csv('LOTT/LOTT/상품분류.txt',encoding='cp949')
prodcat.head()

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      1    101  A010101  일용잡화  위생세제
1   A      1    101  A010102  일용잡화   휴지류
2   A      1    101  A010103  일용잡화  뷰티상품
3   A      1    101  A010104  일용잡화  일용잡화
4   A      1    101  A010105  일용잡화  세트상품

In [7]:
def resort_mid_sort(df:pd.DataFrame)->pd.DataFrame:
    """
    A제휴사 대분류 1 중분류 일용삽화 ==> 대분류 9
    """
    if (df[0] =='A') and (df[1] == 1) and (df[4] == '일용잡화'):
        return 9
    else:
        return df[1]    
prodcat['대분류코드'] = prodcat.apply(lambda x: resort_mid_sort(x),axis=1)

prodcat[prodcat['중분류명']=='일용잡화']

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      9    101  A010101  일용잡화  위생세제
1   A      9    101  A010102  일용잡화   휴지류
2   A      9    101  A010103  일용잡화  뷰티상품
3   A      9    101  A010104  일용잡화  일용잡화
4   A      9    101  A010105  일용잡화  세트상품
5   A      9    101  A010106  일용잡화  단기행사

In [10]:
prodcat[(prodcat['대분류코드'] ==8) & (prodcat['제휴사']=='D')]

     제휴사  대분류코드  중분류코드    소분류코드     중분류명           소분류명
4375   D      8    801  D080101  베이스메이크업   메이크업베이스/프라이머
4376   D      8    801  D080102  베이스메이크업  BB/파운데이션/컴팩트류
4377   D      8    801  D080103  베이스메이크업  블러셔/쉐이딩/하이라이터
4378   D      8    802  D080201   아이메이크업          아이라이너
4379   D      8    802  D080202   아이메이크업          아이브로우
4380   D      8    802  D080203   아이메이크업           마스카라
4381   D      8    802  D080204   아이메이크업          아이섀도우
4382   D      8    802  D080205   아이메이크업         메이크업세트
4383   D      8    803  D080301    립메이크업       립스틱/립라이너
4384   D      8    803  D080302    립메이크업        립글로즈/틴트
4385   D      8    804  D080401   네일메이크업       일반네일/케어류

##### 대분류코드 수정 항목 추가

In [80]:

import pandas as pd
edit_df = pd.read_pickle("pkl_share/대분류수정기준표.pkl")
# prodcat.to_pickle('pkl_share/prodcat_1차수정.pkl')
prodcat_edit = pd.read_pickle('pkl_share/prodcat_1차수정.pkl')

prodcat_edit['대분류코드_수정']=-9999
for index,row in edit_df.iterrows():
    제휴사 = row[0]
    change_to =row[1]
    change_from = row[2]

    def change_prodcat(row):
        if (row['대분류코드_수정']!=-9999):
            return row['대분류코드_수정']
        else:
            if (row['대분류코드']==change_one) & (row['제휴사']==제휴사):
                return change_to
            else:
                return -9999


    for change_one in change_from:
        prodcat_edit['대분류코드_수정'] = prodcat_edit[['제휴사','대분류코드','대분류코드_수정']].apply(change_prodcat,axis=1)

for i in range(10,60):
    print(f"{i} : ",prodcat_edit[prodcat_edit['대분류코드_수정']==i]['대분류코드'].unique())

10 :  [ 1  5 38 55 72 91]
11 :  [ 2  3 59 60 63]
12 :  [4]
13 :  [ 6  7 54 76 77 78 79 80 81]
14 :  [8]
15 :  [ 9 43 56 57 58 61 62 73]
16 :  [10 12 74 89]
17 :  [11]
18 :  [13]
19 :  [14 67]
20 :  [15]
21 :  [16]
22 :  [17 20 21 84 86]
23 :  [18 19 66]
24 :  [22 23 88]
25 :  [24 25 87]
26 :  [26 31 32]
27 :  [27]
28 :  [28]
29 :  [29 49]
30 :  [30 50]
31 :  [33 68]
32 :  [34 90]
33 :  [35 36 51 71]
34 :  [37]
35 :  [39 40 41 42 85]
36 :  [44 45 69 70]
37 :  [46 47 48 82 83]
38 :  [52 53 64 65 92]
39 :  [75]
40 :  [1]
41 :  [2 3]
42 :  [4]
43 :  [5]
44 :  [6]
45 :  [7]
46 :  [ 8  9 10]
47 :  [11]
48 :  [12]
49 :  [13]
50 :  [14]
51 :  [15]
52 :  [16 17]
53 :  [1]
54 :  [2]
55 :  [3]
56 :  [4]
57 :  [5 6]
58 :  [7]
59 :  [8]

In [96]:
prodcat_edit

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  대분류코드_수정     대분류명
0      A      9    101  A010101    일용잡화      위생세제         9  가구/인테리어
1      A      9    101  A010102    일용잡화       휴지류         9  가구/인테리어
2      A      9    101  A010103    일용잡화      뷰티상품         9  가구/인테리어
3      A      9    101  A010104    일용잡화      일용잡화         9  가구/인테리어
4      A      9    101  A010105    일용잡화      세트상품         9  가구/인테리어
...   ..    ...    ...      ...     ...       ...       ...      ...
4381   D      8    802  D080204  아이메이크업     아이섀도우        59     메이크업
4382   D      8    802  D080205  아이메이크업    메이크업세트        59     메이크업
4383   D      8    803  D080301   립메이크업  립스틱/립라이너        59     메이크업
4384   D      8    803  D080302   립메이크업   립글로즈/틴트        59     메이크업
4385   D      8    804  D080401  네일메이크업  일반네일/케어류        59     메이크업

[4386 rows x 8 columns]

In [87]:
dict_big_code = {1:'식품', 2:'패션잡화', 3:'아동', 4:'패션의류_여성', 5:'패션의류_남성', 6:'스포츠', 7:'가전', 8:'명품', 9:'가구/인테리어',10:'농산물', 11:'반찬', 12:'잡곡', 13:'수산물', 14:'편의시설', 15:'조리식품', 16:'가공식품', 17:'조미료/소스' ,18:'커피/차', 19:'간식', 20:'음료', 21:'주류', 22:'가정용품',
        23:'생활용품', 24:'가구/인테리어', 25:'문구/공구/서적', 26:'아동', 27:'애완/동물물품', 28:'자동차', 29:'패션의류-여성', 30:'패션의류-남성', 31:'언더웨어', 32:'뷰티', 33:'스포츠', 34:'음식점', 35:'가전',
        36:'패션잡화', 37:'축산물', 38:'과일', 39:'건강',40:'과일', 41:'농산물', 42:'수산물', 43:'축산물', 44:'조리식품/간식', 45:'가공식품', 46:'냉장/냉동식품', 47:'음료', 48:'주류', 49:'가공식품/건강', 50:'조미료/소스', 51:'간식', 52:'가정용품',53:'기초케어', 54:'바디케어', 55:'건강케어', 56:'간식', 57:'편의용품', 58:'향수', 59:'메이크업'}

def big_code_name_col(x):
    """
    find big code by argument
    Args:
        x (int): integer

    Returns:
        _type_: _description_
    """
    if x in dict_big_code: 
        return dict_big_code[x]     
    else:
        return None           
prodcat_edit['대분류명'] = prodcat_edit['대분류코드_수정'].apply(big_code_name_col)

In [100]:
prodcat_edit=prodcat_edit.drop("대분류코드",axis=1)
prodcat_edit = prodcat_edit.rename(columns = {'대분류코드_수정':"대분류코드"})
prodcat_edit=prodcat_edit[['제휴사','대분류코드','중분류코드','소분류코드','대분류명','중분류명','소분류명']]
prodcat_edit

     제휴사  대분류코드  중분류코드    소분류코드     대분류명    중분류명      소분류명
0      A      9    101  A010101  가구/인테리어    일용잡화      위생세제
1      A      9    101  A010102  가구/인테리어    일용잡화       휴지류
2      A      9    101  A010103  가구/인테리어    일용잡화      뷰티상품
3      A      9    101  A010104  가구/인테리어    일용잡화      일용잡화
4      A      9    101  A010105  가구/인테리어    일용잡화      세트상품
...   ..    ...    ...      ...      ...     ...       ...
4381   D     59    802  D080204     메이크업  아이메이크업     아이섀도우
4382   D     59    802  D080205     메이크업  아이메이크업    메이크업세트
4383   D     59    803  D080301     메이크업   립메이크업  립스틱/립라이너
4384   D     59    803  D080302     메이크업   립메이크업   립글로즈/틴트
4385   D     59    804  D080401     메이크업  네일메이크업  일반네일/케어류

[4386 rows x 7 columns]

In [146]:
prodcat_edit.to_pickle("pkl_share/prodcat_final.pkl")
prodcat= pd.read_pickle("pkl_share/prodcat_final.pkl")
prodcat

     제휴사  대분류코드  중분류코드    소분류코드     대분류명    중분류명      소분류명
0      A      9    101  A010101  가구/인테리어    일용잡화      위생세제
1      A      9    101  A010102  가구/인테리어    일용잡화       휴지류
2      A      9    101  A010103  가구/인테리어    일용잡화      뷰티상품
3      A      9    101  A010104  가구/인테리어    일용잡화      일용잡화
4      A      9    101  A010105  가구/인테리어    일용잡화      세트상품
...   ..    ...    ...      ...      ...     ...       ...
4381   D     59    802  D080204     메이크업  아이메이크업     아이섀도우
4382   D     59    802  D080205     메이크업  아이메이크업    메이크업세트
4383   D     59    803  D080301     메이크업   립메이크업  립스틱/립라이너
4384   D     59    803  D080302     메이크업   립메이크업   립글로즈/틴트
4385   D     59    804  D080401     메이크업  네일메이크업  일반네일/케어류

[4386 rows x 7 columns]

In [129]:
# data

냉장음료 / 데일리처분 / 흰우유 / 가공우유 / 요구르트 / 유제품 / 브랜드빵 / 치즈 / 디저트 / 유가공 / 간편조리식품 / 라면 / 면류 / 분유 / 잼 / 통조림 / 인스턴트선물세트 / 이유식/유아간식 / 두유 / 간편요리 / 밥죽류 / 시리얼 / 계란 / 가공란 / 우유 / 발효유 / 치즈버터

병통조림 / 커피류 / 담배 / 분유 / 차류 / 건강식품 / 즉석식품 / 가공건식품

일용잡화 / 주방용품 / 문구/팬시 / 생활잡화 / 식기 / 가구 / 침구/수예 / 웨딩 / 소가구 / 장식용품 / 의자/상 / 조명/전구 / 보수용품 / 건전지 / 가구/인테리어샵 / 테이블 / 의자 / 상 / 제기용품 / 아웃도어퍼니처 / 벽지류 / 성인침구류 / 수예소품 / 커튼류 / 수예시즌 / 아동침구류 / 브랜드침구 / 성인침구 / 아동침구

대형가전 / 소형가전 / 통신/컴퓨터 / 악기 / 전자/전기 / 주방가전 / 냉장고 / 세탁기 / TV / DVD / 오디오 / 홈시어터 / 김치냉장고 / 정수기 / 공기청정기 / 에어컨 / 선풍기 / 히터기 / 전기요/장판 / 가습기 / 건강가전 / 밥솥 / 주방소형가전 / 청소기 / 전기포트 / 믹서기 / 생활소형가전 / 커피메이커/머신 / 기타주방가전 / 조리기 / 소형음향기기 / 카메라/캠코더 / 전화기/팩스 / 이동통신 / PC / 컴퓨터주변기기 / 전기면도기 / 건강디지털기기 / NAVI/하이패스 / 기타음향기기 / 전자악기 / MP3/PMP / 전자학습기 / 시즌/건강가전

세탁세제 / 주거세제 / 주방세제 / 섬유유연제 / 표백제 / 살충제 / 탈취제 / 제습제 / 그릇/수저 / 음식조리 / 음식저장/보관 / 주방정리 / 야외용품 / 주방시즌/균일가 / 야외/시즌용품 / 균일가 / 청소용품 / 세탁용품 / 수납용품 / 욕실용품 / 휴지통 / 밀대/걸레 / 청소편의도구 / 종량제봉투 / 유아식기 / 조리용기 / 조리도구 / 패브릭욕실용품 / 매트 / 프리미엄매트 / 일반욕실용품 / DIY욕실용품 / 수도용품 / 화장지 / 주방주거세제 / 유아용품 / 화장품 / 두발용품 / 생리용품 / 구강용품 / 위생용품 / 주방용품 / 청소욕실용품 / 전기전자 / 의류잡화 / 레저취미 / 문화용품 / 가정잡화

스낵 / 비스켓 / 파이 / 시리얼 / 캔디 / 초콜릿 / 껌 / 안주 / 한과 / 선물세트 / 프리미엄과자 / 간식용과자 / 수입과자 / 종합과자 / 전통과자 / 피자 / 간식 / 디저트 / 베이커리 / 라면 / 건면 / 쿠키케이크 / 캔디껌류 / 초콜렛 / 씨리얼 / 과자 / 음료

비타민 / 기능성건강 / 홍인삼 / 담배 / 건강선물세트

피트니스 / 건강기능식품 / 일반의약외품

과실과일 / 과채과일 / 선물세트 / 친환경과일 / 감귤 / 감 / 복숭아 / 자두 / 토마토 / 포도 / 참외 / 수박 / 딸기 / 메론 / 수입감귤과일 / 수입기타과일 / 열대과일 / 키위/석류 / 포도/체리 / 오렌지과일선물세트 / 오렌지 / 자몽 / 오렌지과일기타 / 석류 / 레몬 / 블루베리 / 체리 / 수입포도 / 냉동과일 / 열대과일기타 / 바나나 / 파인애플 / 망고 / 키위 / 열대과일선물세트 / 사과 / 배 / 국산과일선물세트 / 온라인저장과일 / 구색과일 / 밤 / 국산과일 / 수입과일 / 건과일 / 견과류

베이직케어 / 선케어 / 클렌징 / 집중케어 / 남성케어 / 베이비케어

냉장농산 / 냉장수산 / 냉장축산 / 아이스크림 / 만두 / 냉장간식MS / 냉장식사MS / 냉장기타MS / 냉동MS

열매채소 / 버섯 / 온라인버섯/열매채소 / 잎채소 / 뿌리채소 / 버섯류 / 샐러드채소 / 약초 / 양념류 / 식자재 / 친환경채소 / 김치채소 / 온라인잎/샐러드채소 / LOCAL잎채소 / LOCAL김치채소 / 샐러드/간편채소 / 해초류 / 나물 / 콩나물 / 두부 / 간편채소 / 묵 / 즉석참기름 / 묵/즉석참기름 / 건과 / 건강선물세트 / 냉동가공 / 생활한방 / 한방식재류 / 한방차 / 잡곡 / 선식 / 온라인잡곡선식 / 양념채소 / 온라인양념/뿌리채소 / 양곡 / 선식류 / 엽채류 / 과채류 / 근채류 / 두채류 / 김치채소류 / 양채류 / 나물류 / 계란류

베이스메이크업 / 아이메이크업 / 립메이크업 / 네일메이크업

명품

예능학용품 / 노트/지류 / 필기도구 / 오피스용품 / 파티/팬시/시즌 / 미술용품 / 교육보조재 / 파티/팬시 / 노트 / 시즌행사 / 일반서적 / 음반 / 유/아동서적 / 영상 / 서적 / 음반영상 / 조명기구 / 전구 / 전기용품 / 안전용품 / 보수용품 / 공구 / 건전지

헤어케어 / 바디케어 / 핸드/풋케어 / 구강케어 / 여성용품

조리반찬 / 시즌반찬 / 포장젓갈 / 포장반찬 / 단무지류 / 김치류 / 반찬류 / 젓갈류 / 반찬 / 전통간식 / 먹거리 / 먹거리행사 / 시즌행사 / 맛집행사 / 즉석구이안주 / 즉석구이김 / 특산물행사

국내화장품 / 미용잡화 / 수입브랜드 / 화장품브랜드샵 / 기초화장품 / 색조화장품 / 드럭스토어 / 온라인화장품

기저귀 / 화장지 / 생리대 / 유아세제 / 유아위생용품 / 시니어위생용품 / 여성위생용품 / 키친타올 / 물티슈 / 미용티슈 / 구강용품 / 헤어스타일링 / 면도용품 / 바디용품 / 스킨케어 / 개인위생용품 / H&B선물세트 / 일반헤어케어 / 기능헤어케어 / 남성용품 / 바디케어 / 훼이셜케어 / 베이비케어 / 풋/핸드케어 / 미용소품 / 아로마

대중선어 / 냉동수산물 / 생선선물세트 / 고등어/삼치 / 대구 / 도미/민어 / 기타구색생선 / 꽁치/가자미 / 오징어 / 조기/명태 / 국산게/갈치 / 선물세트 / 즉석구이안주 / 마른안주 / 멸치건명태 / 해조류 / 특산물 / 건오징어 / 조미오징어 / 육포 / 쥐치포 / 마른안주선물세트 / 생선회 / 해물연체류 / 간편조리생선 / 생선초밥 / 기타회 / 수입연어 / 수입고등어 / 수입갈치 / 수입게 / 수입기타생선 / 냉동규격생선 / 냉동규격해물 / 규격생선선물세트 / 냉장규격생선 / 온라인규격/간편조리생선 / 규격RTC / 간편조리행사 / 굴비 / 반건생선 / 굴비/반건생선선물세트 / 해초 / 조개 / 조개살 / 연체 / 새우 / 해물선물세트 / 온라인해물연체 / 특산물행사 / 멸치 / 천연조미료 / 황태 / 미역/다시마 / 멸치황태미역선물세트 / 즉석구이김 / 마른김 / 조미김 / 김가공품 / 김선물세트 / 선어류 / 선어가공 / 건어류 / 건어가공 / 해물류 / 기타수산

스포츠 / 골프용품 / 스키 / 등산 / 낚시 / 수영복 / 윈터스포츠 / 워터스포츠 / 스포츠웨어 / 롤러보드 / 구기용품 / 헬스용품 / 자전거 / 스포츠ACC / 라켓스포츠 / 시니어건강용품 / 스포츠의류 / 스포츠브랜드편집 / 스포츠NB / 골프 / 시즌행사 / 브랜드 / 캠핑

육류 / 축산가공 / 농산물 / 수산품 / 가공식품 / 젓갈/반찬 / 건강식품 / 주류 / 차/커피 / 기타

아동 / BABY/INFANT / GIRLS / 교육 / VIDEOGAME / 남아 / SPORTS/OUTDOOR / EDUCATION 1 / EDUCATION 2 / BOYS 1 / BOYS 2 / 유아브랜드 / 아동복합샵 / 아동브랜드 / 아동행사 / 유아동용품 / 유아용품 / 유아토들러 / 주니어스포츠 / 주니어웨어 / 유아동PB / 유아동NPB / 유아동특정

애완/동물용품 / 원예용품 / 애견용품 / 덴탈케어 / 고양이용품 / 동물병원 / 수족관용품

성인내의 / 란제리 / 양말 / 홈웨어 / 스타킹 / 란제리브랜드 / 아동내의 / 언더웨어행사 / 남성양말 / 여성양말 / 아동양말 / 덧신 / 주니어양말 / 양말선물세트 / 온라인양말

생수 / 과채음료 / 두유 / 탄산음료 / 이온음료 / 커피차음료 / 기능성음료 / 수입음료 / 커피음료 / 차음료

분식 / 양식 / 일식 / 중식 / 한식 / 패스트푸드 / 레스토랑 / 카페 / 푸드코트 / 컨세션

자동차 정비용품 / 자동차 청소용품 / 카시트/매트 / 자동차처분 / 자동차 액세서리 / 교환/보수용품 / 세차용품 / 자동차방향제/소취제 / 자동차 편의용품 / 자동차장식용품 / 휴대폰용품 / 장착용품 / 오토바이용품

양곡 / 잡곡류 / 즉석도정미 / 가공양곡

브랜드조리 / 베이커리 / 구이 / 튀김 / 밥류 / 구이찜조리 / 반찬류 / 대용식 / 이벤트조리 / 간식조리 / 간편조리 / 튀김조리 / 피자 / 어묵맛살 / 냉장면류 / 햄소시지 / 냉장반찬 / 냉동만두 / 냉동간식 / 냉동대용식 / 아이스크림 / 햄 / 소시지 / 냉장햄세트 / 김/초밥 / 도시락 / 선식 / 떡 / 족발 / 순대 / 브랜드푸드몰 / 빵 / 포장반찬HMR / 냉동HMR / 냉장간편식HMR / 냉장식사HMR

반찬류 / 간편간식 / 식사류 / 베이커리 / 기타조리식품

조미료 / 소스류 / 장류 / 식용유지 / 조미선물세트 / 가루 / 식자재 / 향신료 / 액상조미료 / 복합조미료 / 소금/설탕류 / 수입조미 / 식용유 / 케첩마요네즈 / 감미료 / 가공분말류

소주 / 맥주 / 와인 / 전통주 / 양주 / 기타음주류

우육 / 수입육 / 일반한우 / 한우선물세트 / 브랜드한우 / 닭고기 / 계란 / 오리고기 / 양념육 / 돼지고기 / 브랜드돼지고기 / 차별화돼지고기 / 온라인돼지고기 / 미국산소고기 / 호주산소고기 / 수입육선물세트 / 수입돼지고기 / 기타국소고기 / 육가공품 / 국내산우육 / 국내산돈육 / 국내산계육 / 수입우육 / 수입돈육 / 기타축산

커피 / 차 / 건강식품 / 담배 / 인스턴트커피 / 원두커피 / 커피선물세트 / 시즌차 / 차선물세트 / 꿀

비즈니스정장 / 시티캐주얼 / 복합샵 / 남성브랜드 / 남성행사 / 남성시즌행사 / 병행수입 / 남성베이직 / 남성스포츠 / 남성어덜트캐주얼 / 남성이지캐주얼 / 남성스포츠PB / 남성스포츠NPB / 남성스포츠특정

스트리트편집샵 / 행사 / 이지캐주얼브랜드 / 여성캐주얼브랜드 / 마담/어덜트 / 미시캐주얼 / 여성베이직 / 여성이지캐주얼 / 여성PB / 여성NPB / 여성특정

남성정장 / 남성캐주얼 / 트래디셔널 / 교복 / 셔츠 / 남성 트랜디

캐주얼 / 커리어 / 트래디셔널 / 시티웨어 / 란제리/내의 / 블라우스 / 기타의류 / 디자이너 / 모피/피혁

섬유잡화 / 액세서리 / 화장품 / 보석 / 준보석/시계 / 피혁잡화 / 구두 / 드레스화브랜드 / 캐주얼화브랜드 / 아동화브랜드 / 슈즈행사 / 남성구두 / 여성구두 / 샌들슬리퍼 / NB구두 / 운동화 / 준보석 / 시계 / 피혁브랜드 / 가방브랜드 / 잡화멀티샵 / 미입점행사 / 지갑 / 벨트 / 핸드백 / 가방 / 피혁토탈 / 모자 / 우산/양산 / 스카프 / 장갑 / 시즌토탈 / 썬글라스 / 여행용품 / 시즌슈즈 / 스포츠슈즈 / 아동슈즈 / 캐주얼슈즈 / 슈즈용품 / 지갑/벨트 / TRAVEL / 시즌잡화

Fast Food / 편의시설 / 레스토랑 / 카페 / 판매시설 / 주유소

화장지/티슈 / 방향/제습/탈취제 / 기기 / 미용소품 / 양말류 / 우산/양산류 / 파티/팬시용품 / 전기용품 / 안전용품 / 여행용품 / 계절팩

여성 / 남성

In [1]:
import pandas as pd
check = pd.read_pickle("pkl_share/prodcat_final.pkl")
check=check.drop_duplicates(['대분류명','중분류명'])
save_list = check.groupby(['대분류명'])['중분류명'].apply(lambda x: " / ".join(x))
for i in zip(save_list.index,save_list.values):
    print(f"<<<< {i[0]} >>>>\n{i[1]} ")
    print()

<<<< 가공식품 >>>>
냉장음료 / 데일리처분 / 흰우유 / 가공우유 / 요구르트 / 유제품 / 브랜드빵 / 치즈 / 디저트 / 유가공 / 간편조리식품 / 라면 / 면류 / 분유 / 잼 / 통조림 / 인스턴트선물세트 / 이유식/유아간식 / 두유 / 간편요리 / 밥죽류 / 시리얼 / 계란 / 가공란 / 우유 / 발효유 / 치즈버터

<<<< 가공식품/건강 >>>>
병통조림 / 커피류 / 담배 / 분유 / 차류 / 건강식품 / 즉석식품 / 가공건식품

<<<< 가구/인테리어 >>>>
일용잡화 / 주방용품 / 문구/팬시 / 생활잡화 / 식기 / 가구 / 침구/수예 / 웨딩 / 소가구 / 장식용품 / 의자/상 / 조명/전구 / 보수용품 / 건전지 / 가구/인테리어샵 / 테이블 / 의자 / 상 / 제기용품 / 아웃도어퍼니처 / 벽지류 / 성인침구류 / 수예소품 / 커튼류 / 수예시즌 / 아동침구류 / 브랜드침구 / 성인침구 / 아동침구

<<<< 가전 >>>>
대형가전 / 소형가전 / 통신/컴퓨터 / 악기 / 전자/전기 / 주방가전 / 냉장고 / 세탁기 / TV / DVD / 오디오 / 홈시어터 / 김치냉장고 / 정수기 / 공기청정기 / 에어컨 / 선풍기 / 히터기 / 전기요/장판 / 가습기 / 건강가전 / 밥솥 / 주방소형가전 / 청소기 / 전기포트 / 믹서기 / 생활소형가전 / 커피메이커/머신 / 기타주방가전 / 조리기 / 소형음향기기 / 카메라/캠코더 / 전화기/팩스 / 이동통신 / PC / 컴퓨터주변기기 / 전기면도기 / 건강디지털기기 / NAVI/하이패스 / 기타음향기기 / 전자악기 / MP3/PMP / 전자학습기 / 시즌/건강가전

<<<< 가정용품 >>>>
세탁세제 / 주거세제 / 주방세제 / 섬유유연제 / 표백제 / 살충제 / 탈취제 / 제습제 / 그릇/수저 / 음식조리 / 음식저장/보관 / 주방정리 / 야외용품 / 주방시즌/균일가 / 야외/시즌용품 / 균일가 / 청소용품 / 세탁용품 / 수납용품 / 욕실용품 / 휴지통 / 밀대/걸레 / 청소편의도구 / 종량제봉투 / 유아식기 / 조리용기 / 조리도구 / 패브릭욕실용품 / 매트 / 프리미엄매트 / 일반욕실용품 / DIY욕실용품 / 수도용품 / 화장지 / 주방주거세제 / 유아용품 / 화장품 / 두발용품 / 생리용품 / 구강용품 / 위생용품 / 주방용품 / 청소욕실용품 / 전기전자 / 의류잡화 / 레저취미 / 문화용품 / 가정잡화

<<<< 간식 >>>>
스낵 / 비스켓 / 파이 / 시리얼 / 캔디 / 초콜릿 / 껌 / 안주 / 한과 / 선물세트 / 프리미엄과자 / 간식용과자 / 수입과자 / 종합과자 / 전통과자 / 피자 / 간식 / 디저트 / 베이커리 / 라면 / 건면 / 쿠키케이크 / 캔디껌류 / 초콜렛 / 씨리얼 / 과자 / 음료

<<<< 건강 >>>>
비타민 / 기능성건강 / 홍인삼 / 담배 / 건강선물세트

<<<< 건강케어 >>>>
피트니스 / 건강기능식품 / 일반의약외품

<<<< 과일 >>>>
과실과일 / 과채과일 / 선물세트 / 친환경과일 / 감귤 / 감 / 복숭아 / 자두 / 토마토 / 포도 / 참외 / 수박 / 딸기 / 메론 / 수입감귤과일 / 수입기타과일 / 열대과일 / 키위/석류 / 포도/체리 / 오렌지과일선물세트 / 오렌지 / 자몽 / 오렌지과일기타 / 석류 / 레몬 / 블루베리 / 체리 / 수입포도 / 냉동과일 / 열대과일기타 / 바나나 / 파인애플 / 망고 / 키위 / 열대과일선물세트 / 사과 / 배 / 국산과일선물세트 / 온라인저장과일 / 구색과일 / 밤 / 국산과일 / 수입과일 / 건과일 / 견과류

<<<< 기초케어 >>>>
베이직케어 / 선케어 / 클렌징 / 집중케어 / 남성케어 / 베이비케어

<<<< 냉장/냉동식품 >>>>
냉장농산 / 냉장수산 / 냉장축산 / 아이스크림 / 만두 / 냉장간식MS / 냉장식사MS / 냉장기타MS / 냉동MS

<<<< 농산물 >>>>
열매채소 / 버섯 / 온라인버섯/열매채소 / 잎채소 / 뿌리채소 / 버섯류 / 샐러드채소 / 약초 / 양념류 / 식자재 / 친환경채소 / 김치채소 / 온라인잎/샐러드채소 / LOCAL잎채소 / LOCAL김치채소 / 샐러드/간편채소 / 해초류 / 나물 / 콩나물 / 두부 / 간편채소 / 묵 / 즉석참기름 / 묵/즉석참기름 / 건과 / 건강선물세트 / 냉동가공 / 생활한방 / 한방식재류 / 한방차 / 잡곡 / 선식 / 온라인잡곡선식 / 양념채소 / 온라인양념/뿌리채소 / 양곡 / 선식류 / 엽채류 / 과채류 / 근채류 / 두채류 / 김치채소류 / 양채류 / 나물류 / 계란류

<<<< 메이크업 >>>>
베이스메이크업 / 아이메이크업 / 립메이크업 / 네일메이크업

<<<< 명품 >>>>
명품

<<<< 문구/공구/서적 >>>>
예능학용품 / 노트/지류 / 필기도구 / 오피스용품 / 파티/팬시/시즌 / 미술용품 / 교육보조재 / 파티/팬시 / 노트 / 시즌행사 / 일반서적 / 음반 / 유/아동서적 / 영상 / 서적 / 음반영상 / 조명기구 / 전구 / 전기용품 / 안전용품 / 보수용품 / 공구 / 건전지

<<<< 바디케어 >>>>
헤어케어 / 바디케어 / 핸드/풋케어 / 구강케어 / 여성용품

<<<< 반찬 >>>>
조리반찬 / 시즌반찬 / 포장젓갈 / 포장반찬 / 단무지류 / 김치류 / 반찬류 / 젓갈류 / 반찬 / 전통간식 / 먹거리 / 먹거리행사 / 시즌행사 / 맛집행사 / 즉석구이안주 / 즉석구이김 / 특산물행사

<<<< 뷰티 >>>>
국내화장품 / 미용잡화 / 수입브랜드 / 화장품브랜드샵 / 기초화장품 / 색조화장품 / 드럭스토어 / 온라인화장품

<<<< 생활용품 >>>>
기저귀 / 화장지 / 생리대 / 유아세제 / 유아위생용품 / 시니어위생용품 / 여성위생용품 / 키친타올 / 물티슈 / 미용티슈 / 구강용품 / 헤어스타일링 / 면도용품 / 바디용품 / 스킨케어 / 개인위생용품 / H&B선물세트 / 일반헤어케어 / 기능헤어케어 / 남성용품 / 바디케어 / 훼이셜케어 / 베이비케어 / 풋/핸드케어 / 미용소품 / 아로마

<<<< 수산물 >>>>
대중선어 / 냉동수산물 / 생선선물세트 / 고등어/삼치 / 대구 / 도미/민어 / 기타구색생선 / 꽁치/가자미 / 오징어 / 조기/명태 / 국산게/갈치 / 선물세트 / 즉석구이안주 / 마른안주 / 멸치건명태 / 해조류 / 특산물 / 건오징어 / 조미오징어 / 육포 / 쥐치포 / 마른안주선물세트 / 생선회 / 해물연체류 / 간편조리생선 / 생선초밥 / 기타회 / 수입연어 / 수입고등어 / 수입갈치 / 수입게 / 수입기타생선 / 냉동규격생선 / 냉동규격해물 / 규격생선선물세트 / 냉장규격생선 / 온라인규격/간편조리생선 / 규격RTC / 간편조리행사 / 굴비 / 반건생선 / 굴비/반건생선선물세트 / 해초 / 조개 / 조개살 / 연체 / 새우 / 해물선물세트 / 온라인해물연체 / 특산물행사 / 멸치 / 천연조미료 / 황태 / 미역/다시마 / 멸치황태미역선물세트 / 즉석구이김 / 마른김 / 조미김 / 김가공품 / 김선물세트 / 선어류 / 선어가공 / 건어류 / 건어가공 / 해물류 / 기타수산

<<<< 스포츠 >>>>
스포츠 / 골프용품 / 스키 / 등산 / 낚시 / 수영복 / 윈터스포츠 / 워터스포츠 / 스포츠웨어 / 롤러보드 / 구기용품 / 헬스용품 / 자전거 / 스포츠ACC / 라켓스포츠 / 시니어건강용품 / 스포츠의류 / 스포츠브랜드편집 / 스포츠NB / 골프 / 시즌행사 / 브랜드 / 캠핑

<<<< 식품 >>>>
육류 / 축산가공 / 농산물 / 수산품 / 가공식품 / 젓갈/반찬 / 건강식품 / 주류 / 차/커피 / 기타

<<<< 아동 >>>>
아동 / BABY/INFANT / GIRLS / 교육 / VIDEOGAME / 남아 / SPORTS/OUTDOOR / EDUCATION 1 / EDUCATION 2 / BOYS 1 / BOYS 2 / 유아브랜드 / 아동복합샵 / 아동브랜드 / 아동행사 / 유아동용품 / 유아용품 / 유아토들러 / 주니어스포츠 / 주니어웨어 / 유아동PB / 유아동NPB / 유아동특정

<<<< 애완/동물물품 >>>>
애완/동물용품 / 원예용품 / 애견용품 / 덴탈케어 / 고양이용품 / 동물병원 / 수족관용품

<<<< 언더웨어 >>>>
성인내의 / 란제리 / 양말 / 홈웨어 / 스타킹 / 란제리브랜드 / 아동내의 / 언더웨어행사 / 남성양말 / 여성양말 / 아동양말 / 덧신 / 주니어양말 / 양말선물세트 / 온라인양말

<<<< 음료 >>>>
생수 / 과채음료 / 두유 / 탄산음료 / 이온음료 / 커피차음료 / 기능성음료 / 수입음료 / 커피음료 / 차음료

<<<< 음식점 >>>>
분식 / 양식 / 일식 / 중식 / 한식 / 패스트푸드 / 레스토랑 / 카페 / 푸드코트 / 컨세션

<<<< 자동차 >>>>
자동차 정비용품 / 자동차 청소용품 / 카시트/매트 / 자동차처분 / 자동차 액세서리 / 교환/보수용품 / 세차용품 / 자동차방향제/소취제 / 자동차 편의용품 / 자동차장식용품 / 휴대폰용품 / 장착용품 / 오토바이용품

<<<< 잡곡 >>>>
양곡 / 잡곡류 / 즉석도정미 / 가공양곡

<<<< 조리식품 >>>>
브랜드조리 / 베이커리 / 구이 / 튀김 / 밥류 / 구이찜조리 / 반찬류 / 대용식 / 이벤트조리 / 간식조리 / 간편조리 / 튀김조리 / 피자 / 어묵맛살 / 냉장면류 / 햄소시지 / 냉장반찬 / 냉동만두 / 냉동간식 / 냉동대용식 / 아이스크림 / 햄 / 소시지 / 냉장햄세트 / 김/초밥 / 도시락 / 선식 / 떡 / 족발 / 순대 / 브랜드푸드몰 / 빵 / 포장반찬HMR / 냉동HMR / 냉장간편식HMR / 냉장식사HMR

<<<< 조리식품/간식 >>>>
반찬류 / 간편간식 / 식사류 / 베이커리 / 기타조리식품

<<<< 조미료/소스 >>>>
조미료 / 소스류 / 장류 / 식용유지 / 조미선물세트 / 가루 / 식자재 / 향신료 / 액상조미료 / 복합조미료 / 소금/설탕류 / 수입조미 / 식용유 / 케첩마요네즈 / 감미료 / 가공분말류

<<<< 주류 >>>>
소주 / 맥주 / 와인 / 전통주 / 양주 / 기타음주류

<<<< 축산물 >>>>
우육 / 수입육 / 일반한우 / 한우선물세트 / 브랜드한우 / 닭고기 / 계란 / 오리고기 / 양념육 / 돼지고기 / 브랜드돼지고기 / 차별화돼지고기 / 온라인돼지고기 / 미국산소고기 / 호주산소고기 / 수입육선물세트 / 수입돼지고기 / 기타국소고기 / 육가공품 / 국내산우육 / 국내산돈육 / 국내산계육 / 수입우육 / 수입돈육 / 기타축산

<<<< 커피/차 >>>>
커피 / 차 / 건강식품 / 담배 / 인스턴트커피 / 원두커피 / 커피선물세트 / 시즌차 / 차선물세트 / 꿀

<<<< 패션의류-남성 >>>>
비즈니스정장 / 시티캐주얼 / 복합샵 / 남성브랜드 / 남성행사 / 남성시즌행사 / 병행수입 / 남성베이직 / 남성스포츠 / 남성어덜트캐주얼 / 남성이지캐주얼 / 남성스포츠PB / 남성스포츠NPB / 남성스포츠특정

<<<< 패션의류-여성 >>>>
스트리트편집샵 / 행사 / 이지캐주얼브랜드 / 여성캐주얼브랜드 / 마담/어덜트 / 미시캐주얼 / 여성베이직 / 여성이지캐주얼 / 여성PB / 여성NPB / 여성특정

<<<< 패션의류_남성 >>>>
남성정장 / 남성캐주얼 / 트래디셔널 / 교복 / 셔츠 / 남성 트랜디

<<<< 패션의류_여성 >>>>
캐주얼 / 커리어 / 트래디셔널 / 시티웨어 / 란제리/내의 / 블라우스 / 기타의류 / 디자이너 / 모피/피혁

<<<< 패션잡화 >>>>
섬유잡화 / 액세서리 / 화장품 / 보석 / 준보석/시계 / 피혁잡화 / 구두 / 드레스화브랜드 / 캐주얼화브랜드 / 아동화브랜드 / 슈즈행사 / 남성구두 / 여성구두 / 샌들슬리퍼 / NB구두 / 운동화 / 준보석 / 시계 / 피혁브랜드 / 가방브랜드 / 잡화멀티샵 / 미입점행사 / 지갑 / 벨트 / 핸드백 / 가방 / 피혁토탈 / 모자 / 우산/양산 / 스카프 / 장갑 / 시즌토탈 / 썬글라스 / 여행용품 / 시즌슈즈 / 스포츠슈즈 / 아동슈즈 / 캐주얼슈즈 / 슈즈용품 / 지갑/벨트 / TRAVEL / 시즌잡화

<<<< 편의시설 >>>>
Fast Food / 편의시설 / 레스토랑 / 카페 / 판매시설 / 주유소

<<<< 편의용품 >>>>
화장지/티슈 / 방향/제습/탈취제 / 기기 / 미용소품 / 양말류 / 우산/양산류 / 파티/팬시용품 / 전기용품 / 안전용품 / 여행용품 / 계절팩

<<<< 향수 >>>>
여성 / 남성

##### 코드 통합

In [73]:
import pandas as pd
cust = pd.read_csv('LOTT/LOTT/고객DEMO.txt',sep = ',', encoding='cp949')
member = pd.read_csv('LOTT/LOTT/멤버십여부.txt', sep= ',', encoding='cp949')
mg = member.groupby('고객번호')[['멤버십명']].count()
mg = mg.rename(columns={'멤버십명':'멤버십가입개수'})
mg = mg.reset_index()
mg = mg.sort_values(by='멤버십가입개수',ascending=False)
cust_mem = pd.merge(cust,mg,on='고객번호',how='left')
cust_mem['멤버십가입개수'] = cust_mem['멤버십가입개수'].fillna(0).astype(int)
cust_mem = cust_mem.sort_values(by=['연령대'])

In [14]:
cust_mem

        고객번호 성별    연령대   거주지역  멤버십가입개수
16611  16612  F  19세이하  460.0        0
19169  19170  M  19세이하  100.0        0
19149  19150  F  19세이하  610.0        0
18757  18758  F  19세이하  210.0        1
19111  19112  M  19세이하  210.0        0
...      ... ..    ...    ...      ...
413      414  F  60세이상  210.0        0
15522  15523  F  60세이상   55.0        0
414      415  F  60세이상  410.0        0
424      425  F  60세이상   33.0        1
0          1  M  60세이상   60.0        0

[19383 rows x 5 columns]

In [15]:
cust_mem.isnull().sum() # 거주지역 178개 nan

고객번호         0
성별           0
연령대          0
거주지역       178
멤버십가입개수      0
dtype: int64

In [18]:
cm = cust_mem[cust_mem['거주지역'].isnull()==True]
cm = cm.sort_values(by='멤버십가입개수')
cm.groupby('연령대')[['고객번호']].count().sort_values(by='연령대',ascending=True)

         고객번호
연령대
20세~24세     6
25세~29세     8
30세~34세    12
35세~39세    25
40세~44세    24
45세~49세    26
50세~54세    31
55세~59세    21
60세이상      25

In [23]:
pcat = pd.read_csv('LOTT/LOTT/상품분류.txt',encoding='cp949')
pcat

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명
0      A      1    101  A010101    일용잡화      위생세제
1      A      1    101  A010102    일용잡화       휴지류
2      A      1    101  A010103    일용잡화      뷰티상품
3      A      1    101  A010104    일용잡화      일용잡화
4      A      1    101  A010105    일용잡화      세트상품
...   ..    ...    ...      ...     ...       ...
4381   D      8    802  D080204  아이메이크업     아이섀도우
4382   D      8    802  D080205  아이메이크업    메이크업세트
4383   D      8    803  D080301   립메이크업  립스틱/립라이너
4384   D      8    803  D080302   립메이크업   립글로즈/틴트
4385   D      8    804  D080401  네일메이크업  일반네일/케어류

[4386 rows x 6 columns]

In [24]:
code = '소분류코드'
print(pcat[code].nunique())
print(prod[code].nunique())

4386
4386

In [26]:
mid = pd.merge(prod,pcat,on=['제휴사','소분류코드','중분류코드','대분류코드'],how='left')
mid.columns

Index(['제휴사', '영수증번호', '대분류코드', '중분류코드', '소분류코드', '고객번호', '점포코드', '구매일자',
       '구매시간', '구매금액', '중분류명', '소분류명'],
      dtype='object')

In [27]:
mid

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070,소주,병소주
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060,맥주,국산맥주
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000,생리대,생리대
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120,친환경채소,친환경쌈채소
...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000,푸드코트,일식
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500,푸드코트,일식
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000,편의시설,유원시설
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,기초화장품,일반화장품
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000,편의시설,유원시설

In [29]:
mid_1 = pd.merge(mid,cust_mem,on='고객번호',how='left')
mid_1.sort_values(by='멤버십가입개수',ascending=False)

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명,성별,연령대,거주지역,멤버십가입개수
6942497,B,10360543,10,1001,B100101,13894,107,20150920,17,3600,냉장음료,과일음료,F,30세~34세,460.0,4
12044308,B,10361693,14,1413,B141304,13894,107,20151008,18,1000,수입과자,수입초콜릿,F,30세~34세,460.0,4
8297425,A,5039262,2,203,A020306,13894,29,20150902,18,18000,화장품,기초A,F,30세~34세,460.0,4
8297424,A,5039261,2,203,A020306,13894,29,20150902,18,180000,화장품,기초A,F,30세~34세,460.0,4
18668936,B,9768793,15,1507,B150705,13894,83,20140702,20,6000,기능성음료,비타/에너지음료,F,30세~34세,460.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14933985,B,6335438,5,503,B050302,17702,6,20140603,16,1300,열매채소,고추,F,50세~54세,49.0,0
14933984,B,6335437,43,4306,B430604,9993,6,20140603,14,3480,냉동간식,기타냉동반찬,F,60세이상,49.0,0
14933983,B,6335436,13,1302,B130205,9993,6,20140603,14,3940,차,식수용차,F,60세이상,49.0,0
14933982,B,6335435,17,1702,B170202,11581,6,20140603,14,9900,주거세제,살충제,M,35세~39세,100.0,0
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000,편의시설,유원시설,M,35세~39세,100.0,0

In [32]:
compose = pd.read_csv('LOTT/LOTT/경쟁사이용.txt', encoding='cp949')
compose = compose.rename(columns={'이용년월':'경쟁사이용년월'})
compose

        고객번호 제휴사  경쟁사  경쟁사이용년월
0          2   D  D02   201507
1         51   D  D01   201504
2         77   D  D02   201503
3         77   D  D02   201506
4         77   D  D02   201507
...      ...  ..  ...      ...
28154  19375   B  B01   201501
28155  19375   B  B01   201507
28156  19375   C  C03   201511
28157  19376   B  B01   201506
28158  19377   B  B01   201504

[28159 rows x 4 columns]

In [72]:
import pandas as pd
mid_2 = pd.merge(mid_1,compose,on=['고객번호','제휴사'],how='left')
mid_2.to_pickle("pkl_share/구매내역통합.pkl")
통합 = pd.read_pickle("pkl_share/구매내역통합.pkl")
통합

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명,성별,연령대,거주지역,멤버십가입개수,경쟁사,경쟁사이용년월
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다,F,50세~54세,100.0,1,NaN,NaN
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070,소주,병소주,F,50세~54세,100.0,1,NaN,NaN
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060,맥주,국산맥주,F,50세~54세,100.0,1,NaN,NaN
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000,생리대,생리대,F,50세~54세,100.0,1,NaN,NaN
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120,친환경채소,친환경쌈채소,F,35세~39세,100.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37059578,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,기초화장품,일반화장품,F,25세~29세,100.0,1,B01,201502.0
37059579,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,기초화장품,일반화장품,F,25세~29세,100.0,1,B01,201503.0
37059580,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,기초화장품,일반화장품,F,25세~29세,100.0,1,B01,201507.0
37059581,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,기초화장품,일반화장품,F,25세~29세,100.0,1,B01,201510.0
37059582,B,8116741,8,802,B080203,16587,29,20150525,17,16000,편의시설,유원시설,M,35세~39세,100.0,0,NaN,NaN

In [593]:
# 연령대별 나이보기
import pandas as pd
cust_14p = pd.read_pickle("pkl_share/cust_14p.pickle")
cust_14p

이용월,01,02,03,04,05,06,07,08,09,10,11,12
연령대,,,,,,,,,,,,
19세이하,5209996,3827084,5286828,4615255,7147212,5339061,5368407,5308938,9641469,9042143,7065259,8675286
20세~24세,97180861,102667673,99706195,103519470,139667894,118084855,216084881,127781366,135026864,381307686,148365039,202770190
25세~29세,573791606,543941727,597503335,584355686,621003958,542146580,518497392,513189535,580428577,914066054,806129295,864943644
30세~34세,2022924761,1600034657,1933354456,2011990834,2304792226,2028515548,1896340004,1800796294,1937878594,2232610356,2583248830,2543982275
35세~39세,3900294808,3727886955,3951185936,4292049488,4210317237,3922524695,3608689254,3862431265,3685392661,4972052811,5809076313,5200081548
40세~44세,5373913469,4010726358,4924367960,4748247683,5446996652,4669671728,4526043594,4416235070,4681166315,5317018195,5967486969,5662982073
45세~49세,5989883634,4547132722,5332853016,5287688579,5412277241,4984396088,4664601531,4979071893,5034969345,5604887244,6419548523,6119613013
50세~54세,4664087632,3803670908,4312489482,4142076105,4753943831,4112072903,4037129371,4069389912,4267834439,4987072603,5389647885,5065463995
55세~59세,3113626562,2449701215,2958536098,2889881791,2954486153,2825087221,2842212792,2847675857,2657695166,3397545721,3674410843,3379322227
60세이상,2508568594,2028235997,2512172218,2348249068,2605381847,2469440508,2263409659,2262599302,2496824910,2787444905,3120378628,2835156231